// COLORS
$blue: #34626c;
$light-blue: #839b97;
$gray: #cfd3ce;
$light-brown: #c6b497;
$yellow: #ffb31a;
$soft-black: #2e2e2e;
$backdrop: rgba(0, 0, 0, 0.3);
$white: #fff;
$transparent: transparent;

// MEASURES
$unit: 6px;
$tablet-size: 768px;
$phone-size: 480px;
